<!DOCTYPE html>
<html>
<head>
    <title>Productos List</title>
</head>
<body>
    <h1>Productos</h1>
   
    <table border="1">
        <tr>
         <td>id</td>
         <td>Nombre</td>
         <td>Descripción</td>
         <td>Precio</td>
        </tr>     
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
        </tr>           
        {% endfor %}
    </table>

    <a href="{% url 'producto_create' %}">Agregar Producto</a>
</body>
</html>